<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="ask.css">
		<title>Feed me</title>
	</head>
<body>
	<%include header %>
	<div class="container">
	<!-- <i id="back" class="fa fa-caret-left" aria-hidden="true"> -->
		<a id="back" href="/" class="fa fa-caret-left" aria-hidden="true"></a>
	<br>
		<div class="jumbotron">
			<div class="form-group">
   			 <label for="name" class="col-sm-2 control-label">Name</label>
    			<div class="col-sm-10">
     				 <input type="Name" class="form-control" id="input" placeholder="Name">
   				</div>
		  </div>
		  <br>
		  <div class="form-group">
   			 <label for="lastname" class="col-sm-2 control-label">Lastname</label>
    			<div class="col-sm-10">
     				 <input type="lastname" class="form-control" id="input" placeholder="Last Name">
   				</div>
		  </div>
		  <br>
		  <div class="form-group">
   			 <label for="email" class="col-sm-2 control-label">E-mail</label>
    			<div class="col-sm-10">
     				 <input type="password" class="form-control" id="input" placeholder="email">
   				</div>
		  </div>
		  <br>
		  <div id="input_search" class="col-lg-6">
   		 <div class="input-group">
      		<input type="text" class="form-control" placeholder="Search for employee...">
      		<span class="input-group-btn">
       			 <button class="btn btn-default" type="button">Search!</button>
      		</span>
    		</div><!-- /input-group -->
 		 </div><!-- /.col-lg-6 -->
 		 <br>
 		 <div id="button_mep" class="btn-group">
  <a class="btn btn-default" href="#">
    <i class="fa fa-align-left" title="Align Left"></i>
  </a>
  <a class="btn btn-default" href="#">
    <i class="fa fa-align-center" title="Align Center"></i>
  </a>
  <a class="btn btn-default" href="#">
    <i class="fa fa-align-right" title="Align Right"></i>
  </a>
  <a class="btn btn-default" href="#">
    <i class="fa fa-align-justify" title="Align Justify"></i>
  </a>
</div>
  		
		  <textarea id="comment" class="form-control" rows="12" placeholder="  Feedback must be constructive if:
   •
   •
   •"></textarea>
   <span id="camera" class="glyphicon glyphicon-camera"></span>
   <span id="camera" class="glyphicon glyphicon-microphone"></span>
   <div id="button" class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
		</div>
	</div>
	<!-- <i id="back" class="fa fa-caret-left" aria-hidden="true"></i> -->

	<footer>
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">

			</div>
		</nav>
	</footer>
</body>