<!DOCTYPE html>
<html lang="fr">
<% include meta%>
<body>
<% include header%>
  <center>
  <div id="plan" >Feedback on me<table>
    <tr>
      <th class="who"><center>Who</center></th>
      <th class="about"><center>About</center></th>
    </tr>
    <tr>
      <td class="who">Superman</td>
      <td class="about">Great job dude!</td>
    </tr>
    <tr>
      <td class="who">Barney stinson</td>
      <td class="about">PLEASE SUIT-UP!</td>
    </tr>
    <tr>
      <td class="who">Catwoman</td>
      <td class="about">Just perfect.</td>
    </tr>
    <tr>
      <td class="who">The Beatles</td>
      <td class="about">Dont let me down...</td>
    </tr>
    <tr>
      <td class="who">John Rambo</td>
      <td class="about">Avançons ensembles!!</td>
    </tr>
    <tr>
      <td class="who">Chuck Norris</td>
      <td class="about">Help me please :'(?</td>
    </tr>
    <tr>
      <td class="who">...</td>
      <td class="about">...</td>
    </tr>
    <tr>
      <td class="who">...</td>
      <td class="about">...</td>
    </tr>
</table></div>
  </center>
  <footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">

      </div>
    </nav>
  </footer>
</body>