<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="emoji.css">
		<title>Feedback is a gift !</title>
	</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>What was your feeling at the time</h1>
				<div class="row">
  					<div class="col-xs-6 col-md-3">
					   	 <a href="#" class="thumbnail">
					   	   <img src="" alt="...">
					   	    <img src="..." alt="...">
					   	     <img src="..." alt="...">
					   	      <img src="..." alt="...">
					   	       <img src="..." alt="...">
					   	        <img src="..." alt="...">

					   	 </a>
					</div>
			  	</div>
		</div>
	</div>
</body>