<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="form.css">
		<title>Feed me</title>
	</head>
<body>
	<%include header %>
	<div class="container">
		<div class="jumbotron">
			<div class="form-group">
   			 <label for="name" class="col-sm-2 control-label">Name</label>
    			<div class="col-sm-10">
     				 <input type="Name" class="form-control" id="input" placeholder="Name">
   				</div>
		  </div>
		  <br>
		  <div class="form-group">
   			 <label for="lastname" class="col-sm-2 control-label">Lastname</label>
    			<div class="col-sm-10">
     				 <input type="lastname" class="form-control" id="input" placeholder="Last Name">
   				</div>
		  </div>
		  <br>
		  <div class="form-group">
   			 <label for="email" class="col-sm-2 control-label">E-mail</label>
    			<div class="col-sm-10">
     				 <input type="password" class="form-control" id="input" placeholder="email">
   				</div>
		  </div>
		  <br>
		  <textarea id="comment" class="form-control" rows="10" placeholder="  Feedback must be constructive if:
   •
   •
   •"></textarea>
   <span id="camera" class="glyphicon glyphicon-camera"></span>
   <span id="camera" class="glyphicon glyphicon-"></span>
   <div id="button" class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
		</div>
	</div>

	<footer>
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">

			</div>
		</nav>
	</footer>
</body>