<html lang="fr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="index.css">
		<title>Feed me</title>
	</head>
<header>
		<nav id="navbar" class="navbar-default navbar-fixed-top">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<a href="/">
							<img height="120px" src="logo.png"/>
						</a>
							<span id='title'>Feedback like a gift</span>
					</div>
					<div class="col-md-4">
						<div id="notifs">
							<div id="menu">
							</div>
						</div>
						<div id="notifs">
							<div id="menu">
								<ul>
									<li id="cloche"><a href="#"><p>pending</p></a>
										<ul>
											<li class="sous" id="request"><a href="request">Feedback request</a></li>
											<li class="sous" id="onwait"><a href="#">on wait</a></li>
										</ul>
									</li>
									<li id="br"><a href="#"><p> box</p></a>
										<ul>
											<li class="sous" id="received"><a href="box">Feedback received</a></li>
											<li class="sous" id="sent"><a href="#">Feedback sent</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
			</header>
