<header>
		<nav id="navbar" class="navbar-default navbar-fixed-top">
			<div class="container">
				<div id="catch">Feedback is a gift ..!</div>
				<div id="notifs">
				<div id="menu">
				<ul>
				  <li id="cloche"><a href="#"><p>pendent</p></a>
				  <ul>
    				<li class="sous" id="request"><a href="#">Feedback request</a></li>
    				<li class="sous" id="onwait"><a href="#">On wait</a></li>
    			</ul>
    			</li>
				  <li id="br"><a href="#"><p> box</p></a>
    			<ul>
    				<li class="sous" id="received"><a href="box.html">Feedback received</a></li>
    				<li class="sous" id="sent"><a href="#">Feedback sent</a></li>
    			</ul>
  						</li>
				</ul>
				</div>
			</div>
		</nav>
	</header>