<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="index.css">
		<title>Feed me</title>
	</head>
<body>
<%include header %>
	<center>
<section id="container">
	<button id="btn1" type="button" class="btn btn-secondary btn-lg">
		<a href="/ask">Ask feedback</div></button>
	<button id="btn2" type="button" class="btn btn-secondary btn-lg">
		<a href="/give">Give Feedback</a></button>
</section></center>
	<footer>
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">

			</div>
		</nav>
	</footer>
</body>



<!-- mess sent http://www.alingavia.fr/images/fleche.gif
box http://vespiere.const.pagesperso-orange.fr/fleche.gif

request http://www.tutorial-gratuit.com/wp-content/uploads/2014/03/icon-28101_640.png
on wait https://image.spreadshirtmedia.net/image-server/v1/designs/14213646,width=178,height=178,version=1385674878/Cursor-:-wait;.png
-->