<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="index.css">
		<title>Feedback is a gift !</title>
	</head>
<body>
	<header>
		<nav id="navbar" class="navbar-default navbar-fixed-top">
			<div class="container">
				<h1>Feedback is a gift !</h1>
			</div>
		</nav>
	</header>
<section id="container">
	<button id="btn1" type="button" class="btn btn-secondary btn-lg">Large button</button>
	<button id="btn2" type="button" class="btn btn-secondary btn-lg">Large button</button>
</section>
	<footer>
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">

			</div>
		</nav>
	</footer>
	</body>