<!DOCTYPE html>
<html lang="fr">
<% include meta%>
<body>
<% include header%>
	<center>
	<div id="grow" ><div id="ent">Feedback me</div> <p>Dear Sarah,<br> can you give me feedback on my [focus spe]. <br> I need your help to progress.<br>Thank's!</p>
	<div id="rules"> <div id="titi"> Remember, the feedback must be constructive:</div>
	<br>--> If you cant't think of constructive feedback don't give it now and take time to think about it.
	<br>--> Focus on description and observation Rather than interpretation and judgement.
	<br>--> Focus on behavior Rather than the person.
	<br>--> Provide a balance of positive and negative feedbacks.
	<br>
	</div>
	<img  id="iimg" width="350px" src="growup.png">
	next
    </div>
	</center>
	<footer>
		<!-- <nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container"> -->

			<!-- </div> -->
		</nav>
	</footer>
</body>