<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="request.css">
		<title>Feedback is a gift !</title>
	</head>
<body>
	<%include header %>
<div class="container">
	<div class="jumbotron">
		<a>
		<h3>You recived a feedback from "Thomas"</h3>
		</a>
		<textarea rows="3" cols="10">FEEDBACK RECIEVE</textarea>
		<br>
		</br>
		<img src="emoji.png" whidth=35px height=35px>
		<a>
		<h2 >Hello ! What do you suggest as an improvement ?
	Use some positive /powerful objectives</h2>
	</a>
	<textarea rows="3" cols="10"></textarea>
		<button type="button" class="btn btn-default btn-lg">Micro</button>
		<button type="button" class="btn btn-default btn-lg">Video</button>
		<p>
		<input type="file">
		</p>
		<button type="submit" class="btnbtn-default">Submit</button>
	</div>
	<h3>Developements tips</h3>
	<textarea class="deve" rows="6">Quick wins / noocs / articles / link with market place</textarea>
<div class="btn-group" role="group" aria-label="...">
	<footer>
	</footer>
</body>