<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="slide.css">
		<title>Feedback is a gift !</title>
	</head>
<body>
	<%include header %>
	<span id="sl_i1" class="sl_command sl_i"></span>
	<span id="sl_i2" class="sl_command sl_i"></span>
	<span id="sl_i3" class="sl_command sl_i"></span>
	<span id="sl_i4" class="sl_command sl_i"></span>

<div class="container">
	<section id="slideshow">
	<div class="container">
		<div class="c_slider"></div>
		<div class="slider">
			<figure>
				<img id="test" src="http://www.hostingpics.net/viewer.php?id=323020screen1.png" alt="" width="640" height="600" />
				<!-- <figcaption>The mirror of soul</figcaption> -->

			</figure><!--
			--><figure>
				<img id="test" src="http://www.hostingpics.net/viewer.php?id=323020screen1.png" alt="" width="640" height="600" />
				<!-- <figcaption>Let's cross that bridge when we come to it</figcaption> -->
			</figure><!--
			--><figure>
				<img id="test" src="http://www.hostingpics.net/viewer.php?id=323020screen1.png" alt="" width="620" height="600" />
				<!-- <figcaption>Sushi<em>(do)</em> time</figcaption> -->

			</figure><!--
			--><figure>
				<img id="test" src="http://www.hostingpics.net/viewer.php?id=323020screen1.png" alt="" width="640" height="600" />
				<!-- <figcaption>Waking Life</figcaption> -->
			</figure>
		</div>
<a class="commands prev commands1" href="#sl_i4" title="Aller à la dernière slide">&lt;</a>
<a class="commands next commands1" href="#sl_i2" title="Aller à la 2ème slide">&gt;</a>
<a class="commands prev commands2" href="#sl_i1" title="Aller à la 1ère slide">&lt;</a>
<a class="commands next commands2" href="#sl_i3" title="Aller à la 3ème slide">&gt;</a>
<a class="commands prev commands3" href="#sl_i2" title="Aller à la 2ème slide">&lt;</a>
<a class="commands next commands3" href="#sl_i4" title="Aller à la 4ème slide">&gt;</a>
<a class="commands prev commands4" href="#sl_i3" title="Aller à la 3ème slide">&lt;</a>
<a class="commands next commands4" href="#sl_i1" title="Aller à la 1ère slide">&gt;</a>
	</div>
		
	<ul class="dots_commands"><!--
	--><li><a title="Afficher la slide 1" href="#sl_i1">Slide 1</a></li><!--
	--><li><a title="Afficher la slide 2" href="#sl_i2">Slide 2</a></li><!--
	--><li><a title="Afficher la slide 3" href="#sl_i3">Slide 3</a></li><!--
	--><li><a title="Afficher la slide 4" href="#sl_i4">Slide 4</a></li>
	</ul>
	</section>
</div>

	<footer>
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">

			</div>
		</nav>
	</footer>
</body>