body {
	min-width: 625px;
	background-color: #D0D6DC;
	font-size: 100%;
}

.container {
	min-width: 1200px;
}

#navbar {
	height: 120px;
	position: relative;
}

.jumbotron {
	margin: 0 5% 0 10%;
	width: 900px;
	background: #8A9AA9;
	/*margin: 150px 10% 10% 0;*/
}

.title {
	margin-left: 0px;
	font-size: 25px;
}

#input {
	float: left;
	width: 115%;
	font-style: italic;
}


#label {
	width: 3px;
}

#comment {
	margin-top: 5%;
	font-size: 16px;
	font-style: italic;
}

#button {
	float: right;
	margin-top: 15px;
}

#camera {
	font-size: 20px;
}

#input_search {
	float: left;
	/*margin-bottom: 50px;*/
}

#back {
	color: #8A9AA9;
	text-decoration: none;
	/*background-color: #D0D6DC;*/
	float: left;
	padding-left: -25px;
}