body {
	min-width: 625px;
	background-color: #D0D6DC;
	font-size: 100%;
}

.container {
	min-width: 1200px;
}

#navbar {
	background-color: #8A9AA9;
	height: 120px;
	position: relative;
}

.jumbotron {
	margin: 20% 5% 0 5%;
	height: 700px;
	width: 900px;
	background: #8A9AA9;
	/*margin: 150px 10% 10% 0;*/
}

#input {
	width: 80%;
	font-style: italic;
}

#comment {
	margin-top: 5%;
	font-size: 10px;
	font-style: italic;
}

#button {
	float: right;
	margin-top: 15px;
}

#camera {
	font-size: 20px;
}