header {
	margin: 0px;
	padding: 0px;
}

body {
	padding: 0px;
	min-width: 625px;
	background-color: #D0D6DC;
	font-size: 100px;
}

#navbar {
	font-size: 14px;
	padding: 0px;
	background-color: #8A9AA9;
	height: 120px;
	position: relative;
	margin-bottom: 40px;
}

#catch {
	color: white;
	font-size: 44px;
	margin-top: 30px;
	padding: 0px;
	float: left;
	margin-left: 0px;
}

#notifs {
	background-color: white;
	width: 300px;
	height: 120px;
	float: right;
}

/*#container > .btn-lg {
	width: 370px;
	height: 200px;
	margin: 8% 0% 0 10%;
}*/



#btn1 {
	color: #8A9AA9;
	font-size: 60px;
	font-family: 'Brush Script MT', cursive;
	text-align: top;
	width: 370px;
	height: 900px;
	margin: 0;
	padding-bottom: 600px;
	background-color: white;
	background-image: url("http://www.ip-mobile.be/assets/img/perso.png");
	background-repeat:no-repeat;
	background-position:center bottom;
}

#btn1 :hover {
	color: #FFD700;;
}

#btn2 :hover {
	color: #FFD700;
}

#btn2 {
	color: #8A9AA9;
	font-size: 60px;
	font-family: 'Brush Script MT', cursive;
	width: 370px;
	height: 900px;
	margin: 0;
	padding-bottom: 600px;
	background-color: white;
	background-image: url("https://image.freepik.com/vecteurs-libre/brunette-personnage-de-la-femme_23-2147502479.jpg");
	background-repeat:no-repeat;
	background-position:center bottom;
}

#cloche {
	background-size: 100%;
	background-color: white;
	background-image: url("https://d13yacurqjgara.cloudfront.net/users/29005/screenshots/1995720/bell.gif");
	background-repeat:no-repeat;
	background-position:center top;
}

#cloche p{
	margin-top: 90px;
}

#br {
	background-size: 90%;
	background-color: white;
	background-image: url("http://media1.giphy.com/media/lDISRpvesPk08/giphy.gif");
	background-repeat:no-repeat;
	background-position:center bottom;
}

#br p{
	margin-top: 90px;
}


#br:hover {
	background-size: 90%;
	background-color: white;
	background-image: url("http://media1.giphy.com/media/lDISRpvesPk08/giphy.gif");
	background-repeat:no-repeat;
	background-position:center bottom;
}

#menu {
	color: black;
}

#menu .sous {
	background-color: #8A9AA9;
	color: white;
}

#request {
	background-size: 30%;
	background-color: white;
	background-image: url("http://www.tutorial-gratuit.com/wp-content/uploads/2014/03/icon-28101_640.png");
	background-repeat:no-repeat;
	background-position:center bottom;
}

#onwait {
	background-size: 30%;
	background-color: black;
	background-image: url("http://png-5.findicons.com/files/icons/977/rrze/720/move_waiting_to_participant.png");
	background-repeat:no-repeat;
	background-position:center bottom;
	border-radius: 0px 0px 20px 20px;
}

#received {
	background-size: 30%;
	background-image: url("http://vespiere.const.pagesperso-orange.fr/fleche.gif");
	background-repeat:no-repeat;
	background-position:center bottom;
}

#sent{
	height: 70px;
	background-size: 30%;
	background-image: url("http://www.alingavia.fr/images/fleche.gif");
	background-repeat:no-repeat;
	background-position:center bottom;
	border-radius: 0px 0px 20px 20px;
}

#menu ul {
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:center;
 }
#menu li {
 color: white;
 float:left;
 margin:auto;
 padding:0;
 background-color: white;
 }

#menu li a {
 display:block;
 width:150px;
 height: 120px;
 color: blue;
 text-decoration:none;
 padding:5px;
 }

.sous {
	height: 70px;
}

#menu li a:hover {
 color:#FFD700;
 /*background-color: black;*/
 }
#menu ul li ul {
 display:none;
 }
#menu ul li:hover ul {
 display:block;
 }
#menu li:hover ul li {
 float:none;
 }
#menu li ul {
 position:absolute;
 }


/*_____________BOX_______________________________________________________*/


#plan {
	color: #8A9AA9;
	background-color: white;
	height: 1050px;
	width: 700px;
	padding-top: 10px;
	font-size: 34px;
}

table {
	margin-top: 10px;
	width: 600px;
}


.who {
	border: 1px solid black;
	width: 200px;
	height: 100px;
}

.about {
	border: 1px solid black;
}

td {
	color: black;
	font-size: 28px;
	padding: 10px;
	background-color: #D0D6DC;
}

th {
	background-color: #8A9AA9;
	color: white;
}