body {
	background-color: #D0D6DC;
	font-size: 100%;
}

#navbar {
	background-color: #8A9AA9;
	height: 120px;
	position: relative;
}

#container {
	min-height: 800px;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
}

#container > .btn-lg {
	padding: 20px;
	background: red;
}


/*body .btn-lg {
	margin: 25% 5% 0 5%;
	height: 150px;
	width: 300px;
	margin-left: 10%;
	margin-right: 20%;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #8A9AA9;
}*/