body {
	min-width: 625px;
	background-color: #D0D6DC;
	font-size: 100%;
}

#navbar {
	background-color: #8A9AA9;
	height: 120px;
	position: relative;
}

/*#container > .btn-lg {
	width: 370px;
	height: 200px;
	margin: 8% 0% 0 10%;
}*/

#btn1 {
	width: 370px;
	height: 200px;
	margin: 0;
}

#btn2 {
	width: 370px;
	height: 200px;
	margin: 0;
}